<% provide(:title, "contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporty !</title>
  </head>
  <body>
    <h1>Donc tu veux nous contacter hein ?</h1>
    <p>Envoie nous un petit mail a damase@et.esiea.fr !</p>
  </body>
</html>
