<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporty ! </title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Débrouille toi fils !
    </p>
  </body>
</html>
