<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporty ! </title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Bonjour à vous, quelque chose vous pose problème ?
      Vous n'arrivez pas vous connecter ?
      
      Contactez moi grâce à la rubrique contact.
    </p>
  </body>
</html>
