<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporty !</title>
  </head>
  <body>
    <h1>BIENVENUE CHEZ TITAA ET TOLIMOTE</h1>
    <p>ICI ON EST SUR L'ACCUEIL : HOME</p>
  </body>
</html>
