<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Sporty !</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Our first Web app using ruby on rails !

      Created for the Web Project of our 4th year at ESIEA !
    </p>
    <p>
      Damase Aymeric
      RajaonaDaka Timothé
    </p>
  </body>
</html>
