<footer class="footer">
  <small>
    The best website ever by Damase and RajaonaDaka
      </small>
  <nav>
    <ul>
      <li><%= link_to "A propos",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://pdj.herokuapp.com/">Accueil</a></li>
    </ul>
  </nav>
</footer>
